@import url(icons/css/icons.css);

.txt-light { color: #ffffff; }
.txt-dark { color: #000000; }
.txt-primary { color: #77baff; }
.txt-danger { color: red; }
.txt-success{ color: green; }
.txt-warning { color: #ffaa00; }
.txt-info { color: lightslategray; }

.bg-light, .txt-light a { background-color: #ffffff; }
.bg-dark, .txt-dark a { background-color: #000000; }
.bg-primary, .txt-primary a { background-color: #096acf; }
.bg-primary, .txt-primary a { background-color: #096acf; }
.bg-danger, .txt-danger  a { background-color: red; }
.bg-success, .txt-success a { background-color: green; }
.bg-warning, .txt-warning a { background-color: #ffaa00; }
.bg-info, .txt-info 	 a { background-color: lightslategray; }


body {
    font-family: system-ui;
    font-size: .9rem;
    background: #213957;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    display: inline-block;
    text-decoration: none;
    padding:.1rem .4rem; 
    /* padding-inline: 0.4rem !important; */
    margin-inline:.2rem;
    border-radius: .7rem;
    color:white; 
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}
.container {
    list-style: none;
    margin: 0;
    padding-inline: 2.4rem;
}
h1 {
    text-align: center;
    font-family: fantasy;
    font-weight: 100;
    font-size: xxx-large;		
}

.row {
    list-style: none;
}
.head {
    padding: .3rem;
    margin-block-end: 1.3rem;
    display: grid;
    grid-template-columns: 3rem 1fr 15rem 15rem;
    font-weight: 700;    align-items: center;
    justify-items: flex-start;
    color: #fff;
}

li.head {
    padding: .3rem;
    margin-block-end: 1.3rem;
}
.line {
    margin-block: .4rem;
    padding: .3rem;
    display: grid;
    grid-template-columns: 4rem 1fr 15rem 15rem;
    align-items: center;
    justify-items: flex-start;
    border-radius: 1rem;
}
.line:hover{
    background-color: #00000045;
}

.page-details {
    padding: .3rem 2.6rem;
    margin-block: 2rem;
    background: #2d606d;
}
.page-details > * {
    padding: 0;
    margin-block: .7rem;
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
}
.page-details span {
    background-color: #a0a067;
    padding: .2rem .8rem;
    margin-inline-start: .4rem;
    border-radius: .4rem;
}
[class^="icon-"] {
    margin-inline: 0.2rem;
    display: inline-block;
}
.proccess-finished {
    display: inline-flex;
    padding: .4rem 1.5rem;
    border-radius: 1rem;
}